.container {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 1280px;
  box-sizing: border-box;
}
.button.button__default {
  padding: 20px 60px;
  font-size: 1em;
  font-weight: 600;
  border: none;
  color: #fff;
  background-color: #e01d04;
  transition: background 0.15s ease-in-out;
}
.button.button_default:hover {
  background-color: #c91a03;
}
.link.link_default {
  color: #e01d04;
  font-weight: 500;
}
